html, body {
  margin: 0;
  height: 100%; 
  background-image: url(./images/pdoruct-image2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@font-face {
  font-family: Josefin Sans;
  src: url(./fonts/JosefinSans-Medium.ttf);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

main {
  width: 30%;
  height: 100vh;
  background-color: transparent; 
}

.logo {
  border: 1px solid blue;
  height: 40%;
}

img {
  width: 18rem;
  height: 18rem;
}

aside {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 100vh;
  background-color: transparent; 
}

.info-text {
  display: flex;
  align-items: center;
  font-family: "Josefin Sans";
  color: white;
  width: 50%;
  height: 30%;
  border: 1px solid white;
}

p {
  padding: 1rem;
  
}

.shop-button {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Josefin Sans";
  width: 30%;
  border: 1px solid white;
  height: 30%;
}
