body {
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

main {
  width: 30%;
  height: 100vh;
  background-color: aquamarine;
}

aside {
  width: 70%;
  height: 100vh;
  background-color: pink;
}